html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* ブログページ用 */
body.blog {
  min-width: 460px;
}

/* タブレット・モバイル用 */
@media screen and (max-width: 1023px) {
  .lead,
  .side {
    padding: 1.5rem;
  }
}

/* PCデバイス用  */
@media screen and (min-width: 1024px) {
  .lead,
  .side {
    padding: 3rem;
  }
}
